@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

.home-bg {
    background: url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home-bg .home {
    display: flex;
    align-items: center;
    min-height: 60vh;
}

.home-bg .home .content {
    width: 50rem;
}

.home-bg .home .content span {
    color: var(--orange);
    font-size: 2.5rem;
}

.home-bg .home .content h3 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 1.5rem;
    color: var(--black);
}

.home-bg .home .content p {
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
    color: var(--light-color);
}

.home-bg .home .content a {
    display: inline-block;
    margin-top: 0.5rem;
}

.box-container {
    display: grid;
    gap: 1.5rem;
}

.footer {
    background: var(--black);
}

.footer .box-container {
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    align-items: flex-start;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--white);
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i {
    padding-right: 1rem;
}

.footer .box-container .box p {
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box p i {
    padding-right: .5rem;
}

.footer .credit {
    border-top: .1rem solid rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 1.5rem;
    font-size: 2rem;
    color: var(--white);
    margin-top: 1.5rem;
}

.footer .credit span {
    color: var(--orange);
}
